/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:white;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background: #ebebeb;
}

/* Create a line bar with color */
.carousel .control-dots .dot {
  width: 1.5rem;
  height: 0.25rem;
  background: white;
  opacity: 0.5;
}

.carousel .control-dots .dot.carousel-selected {
  width: 1.5rem;
  height: 0.25rem;
  background: white;
  opacity: 1;
}
